<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>HAPPINESS SCORE</title>
</head>
<style> h1 {text-align: center;} </style> <body bgcolor="#DBB1E1"> <h1> MEDIA DEL HAPPINESS_SCORE RAGGRUPPATO PER ITALIA, FILIPPINE, PERU, ALBANIA, UCRAINA </h1><br><br><br><center><h4><li>Italy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6.254066729177857</li> </h4></center><br><br><br><center><h4><li>Philippines&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.729166645056437</li> </h4></center><br><br><br><center><h4><li>Peru&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.7118000482646485</li> </h4></center><br><br><br><center><h4><li>Albania&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.8579500032342935</li> </h4></center><br><br><br><center><h4><li>Ukraine&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.508450022424927</li> </h4></center></body></html>